*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /*==============*/
                        /*====Header====*/
                        /*==============*/
.arriba{
    background: linear-gradient(to right, rgb(36, 118, 232), rgb(140, 39, 216), rgb(252, 148, 221));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: black 2px solid;
}
.objetos{
    display: flex;
    align-items: center; /*alinear verticalmente*/
    padding: 20px;
    gap:25%;
}
.nombre{
    display: flex;
    gap: 5%;
    align-items: center;
}
.nombre h2{
    animation: colores 0.9s infinite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes colores {
    0%   { color: rgb(85, 153, 241); }
    25%  { color: rgb(254, 130, 200); }
    50% { color: rgb(240, 163, 80); }
    100% { color: rgb(142, 125, 241); }
}
.nombre img{
    width: 50px;
    height: 50x;
    border-radius: 100%;
    border: 2px black solid;
}

.opciones{
    justify-content: center; /*alinear horizontalmente*/
    display: flex;
    gap: 50px;
}
.opciones li{
    list-style: none;
}
.opciones li a{
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.opciones li a:hover{
    color: rgb(45, 203, 247);
    transition: 2s;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
    /*
    line-height: 2px;
    */
    text-underline-offset: 37px;
}
                        /*==============*/
                        /*====Cuerpo====*/
                        /*==============*/
.medio{
    padding-top: 30px;
    flex: 1;
}
/*==============*/
/*====Inicios====*/
/*==============*/
.inicios{
    margin-top: 60px;
    display: flex;
    gap: 25%;
    justify-content: center;
    align-items: center;
    padding: 145px;
    background: linear-gradient(to right, rgb(36, 118, 232), rgb(140, 39, 216), rgb(252, 148, 221));
}
.inicios img{
    width: 510px;
    height: 510px;
}
.te{
    font-size: 100px;
    animation: col 0.9s infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes col {
    0%   { color: rgb(2, 62, 141); }
    25%  { color: rgb(133, 5, 77); }
    50% { color: rgb(139, 72, 0); }
    100% { color: rgb(18, 0, 120); }
}
/*==============*/
/*====Intros====*/
/*==============*/
.intro{
    display: flex;
    padding-left: 1%;
    gap: 20%;
    align-items: center;
    margin-top: 200px;

}
.intro img{
    width: 25%;
    height: 25%;
    border-radius: 100%;
    border: 2px black solid;
    margin-left: 10%;
}
.textito{
    display:grid;
    gap: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.textito h2{
    font-size: 30px;
    color:rgb(122, 0, 178);
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
}
.textito p{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-right: 100px;
    line-height: 1.5;
}
/*==============*/
/*====gustos====*/
/*==============*/
.gustos{
    display:flex;
    gap: 15%;
    margin-left: 5%;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;
}
.quegusta{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.quegusta h3{
    font-size: 30px;
    color:cadetblue;
    text-decoration: underline;
    padding: 5px;
    padding-bottom: 20px;
}
.quegusta ul{
    justify-content: center;
}
.quegusta li{
    list-style: none;
    font-size: 18px;
    line-height: 2;
}
.quegusta li:hover{
    background: linear-gradient(to right, rgb(36, 118, 232), rgb(140, 39, 216), rgb(252, 148, 221));
    border-radius: 50px;
    text-align: center;
    color:white;
    transition: 1s;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}
.imagenes{
    gap: 10%;
}
.imgs1 img{
    padding: 10px;
    border-radius: 20px;
}
.imgs2 img{
    padding: 10px;
    border-radius: 20px;
}
/*==============*/
/*====Quehace====*/
/*==============*/
.quehace{
    margin-left: 1%;
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-top: 200px;
    padding-bottom: 100px;
}
.linea{
    width: 2px;
    height: 230px;
    background: black;
}
.hace{
    display: grid;
    gap: 15%;
}
.hace h3{
    font-size: 20px;
    color:rgb(39, 0, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(58, 105, 233, 0.488);
    text-align: center;
    border-radius: 100px;
    padding: 8px;
}
.hace p{
    font-size: 18px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.5;
}
.hace button{
    background-color: rgb(224, 142, 83);
    border-radius: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 2%;
    font-size: 16px;
}
.hace button a{
    text-decoration: none;
    color:rgb(39, 0, 97);
}
                        /*==============*/
                        /*====Footer====*/
                        /*==============*/
.abajo{
    background: linear-gradient(to right, rgb(36, 118, 232), rgb(140, 39, 216), rgb(252, 148, 221));
    padding: 20px;
}
.abajo2{
    padding-left: 1%;
}