*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /*==============*/
                        /*====Header====*/
                        /*==============*/
.arriba{
    background: linear-gradient(to right, rgb(36, 118, 232), rgb(140, 39, 216), rgb(252, 148, 221));
}
.objetos{
    display: flex;
    align-items: center; /*alinear verticalmente*/
    padding: 20px;
    gap:50%;
}
.nombre{
    display: flex;
    gap: 5%;
    align-items: center;
}
.nombre h2{
    animation: colores 0.9s infinite;
}
@keyframes colores {
    0%   { color: rgb(85, 153, 241); }
    25%  { color: rgb(254, 130, 200); }
    50% { color: rgb(240, 163, 80); }
    100% { color: rgb(142, 125, 241); }
}
.nombre img{
    width: 50px;
    height: 50x;
    border-radius: 100%;
    border: 2px black solid;
}

.opciones{
    justify-content: center; /*alinear horizontalmente*/
    display: flex;
    gap: 100px;
}
.opciones li{
    list-style: none;
}
.opciones li a{
    text-decoration: none;
    font-size: 18px;
    color:black;
}
.opciones li a:hover{
    color: white;
    transition: 2s;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
    /*
    line-height: 2px;
    */
    text-underline-offset: 38px;
}
                        /*==============*/
                        /*====Cuerpo====*/
                        /*==============*/
.medio{
    padding: 1%;
}
.intro{
    display: flex;
    padding: 1%;
    gap: 20%;
    align-items: center;

}
.intro img{
    width: 25%;
    height: 25%;
    border-radius: 100%;
    border: 2px black solid;
    margin-left: 10%;
}
.textito{
    display:grid;
    gap: 15%;
}
.textito h2{
    font-size: 30px;
    color:rgb(122, 0, 178);
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
}
.textito p{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-right: 100px;
}

                        /*==============*/
                        /*====Footer====*/
                        /*==============*/
.abajo{
    background: linear-gradient(to right, rgb(252, 148, 221), rgb(140, 39, 216), rgb(36, 118, 232));
}
.abajo2{
    padding-left: 1%;
}